ul a {
  text-decoration: none;
}
ul a li {
  text-transform: uppercase;
  color: #c5c3c0;
  list-style: none;
}
ul a li:hover {
  color: #93a8d6;
}

.bg-header {
  background-color: #171a21;
}

.active {
  font-size: 2rem;
  transition: all 0.3s;
}
